<div class="dashboard-wrapper">
  <div class="my-bookings">
    <h2>My bookings</h2>
    <div class="booking-dashboard">
      <%= link_to "#" do %>
      <div class="booking">
        <%= image_tag 'https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5c8bafdf01d553be4108029d2ed058&auto=format&fit=crop&w=1350&q=80', class: "test-image" %>
        <h5 class="booking-name">Name</h5>
        <p class="booking-description">Description</p>
        <p class="booking-dates">20.08.2018 - 21.08.2018</p>
        <p class="booking-category">Category</p>
        <p class="booking-hover">Show booking details</p>
      </div>
      <% end %>
      <%= link_to "#" do %>
      <div class="booking">
        <%= image_tag 'https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5c8bafdf01d553be4108029d2ed058&auto=format&fit=crop&w=1350&q=80', class: "test-image" %>
        <h5 class="booking-name">Name</h5>
        <p class="booking-description">Description</p>
        <p class="booking-dates">20.08.2018 - 21.08.2018</p>
        <p class="booking-category">Category</p>
        <p class="booking-hover">Show booking details</p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="my-listings">
    <h2>My listings</h2>
    <div class="listing-dashboard">
      <!-- Add if statement -->
      <p class="no-listings">Currently you have no listings</p>
      <%= link_to new_gear_path, class: "add-link" do %>
      <div class="click-here-to-add">Click here to add a listing</div>
      <% end %>
      <!-- <div class="listing"> </div> -->
    </div>
  </div>
</div>



<!-- <div class="container">
  <h2>My Dashboard</h2>
  <h4>My Gear</h4>
  <ul>
    <% @gears.each do |gear| %>
    <% if gear.user_id == current_user.id %>
    <li>
      <p><%= gear.name %> | <%= gear.description %></p>
    </li>
    <% end %>
    <% end %>
  </ul>
  <button class="btn"><%= link_to "Add New Equipment", new_gear_path  %></button>
  <h4>My Upcoming Rentals</h4>
</div>
-->
