<div class="dashboard-wrapper">
  <div class="my-bookings">
    <h2>My bookings</h2>
    <div class="booking-dashboard">

      <!--ITERATE OVER EXISTING BOOKINGS HERE</!-->

      <% @bookings.each do |booking| %>
      <%= link_to booking_path(booking) do %>
      <div class="booking">
        <% if booking.user_id == current_user.id %>
        <% if booking.gear.photo? %>
        <%= booking.gear.photo %>
        <% else %>
        <%= image_tag 'https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5c8bafdf01d553be4108029d2ed058&auto=format&fit=crop&w=1350&q=80', class: "test-image" %>
        <% end %>
        <h5 class="booking-name"><%= booking.gear.name %></h5>
        <p class="booking-description"><%= booking.gear.description %></p>
        <p class="booking-dates"><%= booking.start_date %> | <%= booking.end_date %></p>
        <p class="booking-category"><%= booking.gear.category %></p>
        <p class="booking-hover">Show booking details</p>
        <% end %>
      </div>
      <% end %>

      <% end %>
    </div>
  </div>

  <div class="my-listings">


    <h2>My listings</h2>
    <div class="listing-dashboard">

      <% @gears.each do |gear| %>
      <div class="booking">
        <% if gear.user_id == current_user.id %>
        <% if gear.photo? %>
        <%= gear.photo %>
        <% else %>
        <%= image_tag 'https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5c8bafdf01d553be4108029d2ed058&auto=format&fit=crop&w=1350&q=80', class: "test-image" %>
        <% end %>
        <h5 class="booking-name"><%= gear.name %></h5>
        <p class="booking-description"><%= gear.description %></p>
        <p class="booking-hover">Show booking details</p>
        <% end %>
      </div>
      <% end %>

    </div>



  </div>
</div>




<!-- <div class="container">
  <h2>My Dashboard</h2>
  <h4>My Gear</h4>
  <ul>
    <% @gears.each do |gear| %>
    <% if gear.user_id == current_user.id %>
    <li>
      <p><%= gear.name %> | <%= gear.description %></p>
    </li>
    <% end %>
    <% end %>
  </ul>
  <button class="btn"><%= link_to "Add New Equipment", new_gear_path  %></button>
  <h4>My Upcoming Rentals</h4>
</div>
-->
