<!-- [...] all the fields -->
<%= simple_form_for([@user, @gear, @booking]) do |f| %>
<div class="form-group">
  <%= f.input :start_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 1, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.input :end_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 1, class: 'form-control' %>
</div>


<%= f.submit class: 'btn btn-primary' %>
<% end %>

<br>

<div class="container">


  <br>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>
