<div class="navigation-container">
  <div class="navbar-wagon">
    <!-- Logo -->

    <%= link_to root_path do %>
      <%= image_tag 'mountain-logo.png', class: "navbar-logo" %>
    <% end %>
    <h4 class="logo-text">Parachute <span class="vl"></span> &nbsp;me</h4>

    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <%= link_to 'Rent out', new_gear_path, class: "active navbar-wagon-item navbar-wagon-link" %>

      <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to 'Dashboard', dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete,  class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
          </ul>
        </div>
      </div>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link", "data-toggle" => "modal", "data-target" => "#signup-Modal" %>
        <%= link_to 'Sign in', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link", "data-toggle" => "modal", "data-target" => "#signin-Modal" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Sign up Modal -->
<div class="modal fade" id="signup-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/sign-up-form' %>
      </div>
    </div>
  </div>
</div>

<!-- Sign in Modal -->
<div class="modal fade" id="signin-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "shared/sign-in-form" %>
      </div>
    </div>
  </div>
</div>
