<div class="navigation-container">
  <div class="navbar-wagon">
    <!-- Logo -->

    <%= link_to root_path do %>
      <%= image_tag 'mountain-logo.png', class: "navbar-logo" %>
    <% end %>
    <h4 class="logo-text">Parachute <span class="vl"></span> &nbsp;me</h4>

    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <%= link_to 'Rent out', "#", class: "active navbar-wagon-item navbar-wagon-link" %>

      <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to 'Dashboard', "#", class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete,  class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
          </ul>
        </div>
      </div>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to 'Sign in', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>
  </div>
</div>
