<div class="container">
  <h3>Sign Up</h3>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, label: "Email: ", placeholder: "youremail@example.com", required: true, autofocus: true %>
    <%= f.input :password, label: "Password: ", placeholder: "******", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: "Repeat Password: ", placeholder: "******", required: true %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions form-container">
    <%= f.button :submit, "Sign up", :class => "form-button" %>
    <% end %>
    <button class="form-button"><%= link_to "Log in", new_session_path(resource_name) %></button>
  </div>
</div>

