<%= simple_form_for (@gear) do |f| %>
<% if @gear.errors.any? %>
<div class="errors-container">
  <ul>
    <% @gear.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- [...] all the fields -->
<%= simple_form_for(@gear) do |f| %>

  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :category, collection: %w[Kayak Stand-Up Rafting Camping Hiking Biking Climbing], class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Description" %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Price (DKK) / Day".upcase %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>

<%= f.submit class: 'btn mm-button' %>
<% end %>
<% end %>
