<div class="wrapper">
  <div class="category-navbar text-inline">
    <%= link_to "Category", "https://images.unsplash.com", class: "details-button category-button", "data-toggle" => "modal", "data-target" => "#choosecategory-Modal" %>
  </div>
  <h2>start exploring.</h2>
  <hr/>
  <p>Life is too short to stay indoors</p>
  <%= image_tag 'globe.png', class: "globe-icon" %>


  <div class="card-map-wrapper">
    <div class="container">
      <div class="row">
        <% @gears.each do |gear| %>
        <div class="col-xs-4">
          <%= link_to gear_path(gear) do %>
          <div class="gear-wrapper">
            <div class="gear-header">
              <% if gear.photo? %>
              <%= cl_image_tag gear.photo %>
              <% else %>
              <%= image_tag 'https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5c8bafdf01d553be4108029d2ed058&auto=format&fit=crop&w=1350&q=80', class: "gear-picture" %>
              <% end %>
              <%= link_to "#" do %>
              <div class="love-icon">
                <i class="fas fa-heart"></i>
              </div>
              <% end %>
              <p class="gear-category"><%= gear.category %></p>
            </div>
            <div class="gear-footer">
              <h4 class="gear-name"><strong><%= gear.name %></strong></h4>
              <p class="gear-price"><%= gear.price %>DKK</p>
              <p class="gear-rating">Rating: <%= gear.rating %></p>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>  <!-- closing row -->
    </div> <!-- closing container -->
    <div id="map" data-markers="<%= @markers.to_json %>">
    </div>
  </div> <!-- closing card wrapper -->
</div> <!-- closing page wrapper -->

<!-- Pick a category filter Modal -->
<div class="modal fade" id="choosecategory-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Choose category</h2>

<ul>
  <form action="<%= gears_path %>" method="get", class: "inline-block">
    <% @categories.each do |category| %>
      <li><%= check_box_tag 'categories[]', category %>
        <%= category %>
      </li>
    <% end %>
    <input type="submit" value="Filter" />
    <div class="btn">
    <%= link_to gears_path do  %>
      <p>Show All</p>
    <% end %>
    </div>
  </form>
 </ul>

      </div>
    </div>
  </div>
</div>
