
<div class="gear-show-container">
  <div id="roevsnaps" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item small active">
        <img class="gear-image" src="https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5c8bafdf01d553be4108029d2ed058&auto=format&fit=crop&w=1350&q=80" alt="First slide">
      </div>
      <div class="carousel-item small">
        <img class="gear-image" src="https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5c8bafdf01d553be4108029d2ed058&auto=format&fit=crop&w=1350&q=80" alt="Second slide">
      </div>
      <div class="carousel-item small">
        <img class="gear-image" src="https://images.unsplash.com/photo-1517823382935-51bfcb0ec6bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5c8bafdf01d553be4108029d2ed058&auto=format&fit=crop&w=1350&q=80" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#roevsnaps" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#roevsnaps" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="detail-page-wrapper">
    <%= link_to "#" do %>
      <div class="see-on-map">
        <p>Show map</p>
      </div>
    <% end %>
    <%= link_to gears_path do %>
      <div class="back-to-results">
        <p>Go back</p>
      </div>
    <% end %>
    <h4 class="category-detail"><%= @gear.category %></h4>
    <div class="info-page-header">
      <h1 class="name-detail"><%= @gear.name %></h1>
      <hr/>
      <p class="address-detail">
        <i class="fas fa-map-marker-alt"></i> <%= @gear.address%>
      </p>
      <ul class="icon-detail-list list-inline">
        <li class="list-inline-item"><%= @gear.price %> DKK</li>
        <li class="list-inline-item">
          <i class="far fa-star"></i><%= @gear.rating %>
        </li>
      </ul>
    </div>

    <div class="description-wrapper">
      <p class="description-detail"><%= @gear.description %></p>
    </div>

    <div class="booking-wrapper">

      <div class="form-wrapper text-center" style="width: 400px; margin: 0 auto;">
        <h5>What dates are you interested in?</h5>
        <p>Choose dates</p>
        <%= simple_form_for([@gear, @booking]) do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker form-control start-date"}, label: false, placeholder: "Start date" %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker form-control start-date"}, label: false, placeholder: "End date"  %>
        <%= f.button :submit, "BOOK", class: "btn book-button" %>
        <% end %>
      </div>

    </div>
    <div class="detail-top"></div>
  </div>
</div>
